/****************************************************************************/
/*                                  COLORS                                  */
/****************************************************************************/

.primary {
  background-color: #ABD8FC;
}

.text-primary {
  color: #ABD8FC; 
}

.secondary {
  background-color: #EFD6AB;
}

.text-secondary {
  color: #EFD6AB; 
}

.tertiary {
  background-color: #F7ECD8;
}

.text-tertiary {
  color: #F7ECD8; 
}

.dark {
  background-color: #4F4F4F;;
}

.text-dark {
  color: #4F4F4F; 
}

.medium-light {
  background-color: #666566;
}

.text-medium-light {
  color: #666566; 
}

.light {
  background-color: #7C7B7C;
}

.text-light {
  color: #7C7B7C; 
}

/****************************************************************************/
/*                               TYPOGRAPHY                                 */
/****************************************************************************/

h1, h2, h3, h4, h5, h6 {
  font-family: 'salomeregular';
}

p {
  font-family: "Sometype Mono";
  font-size: 16px;
  text-align: justify;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #4F4F4F;
}

h2 {
  font-size: 30px;
  text-align: left;
  color: #4F4F4F;
}

h3 {
  font-size: 20px;
  color: #666566;
}

h3, h4, h5, h6 {
  text-align: center;
}

b {
  font-family: "Sometype Mono";
  font-style: bold;
  font-size: 16px;
}

blockquote {
  font-family: "Sometype Mono";
  font-style: italic;
  font-size: 16px;
}

ul, ol, li {
  font-family: 'Sometype Mono';
  font-size: 16px;
}

@font-face {
    font-family: 'salomeregular';
    src: url('fonts/salome/salome-webfont.eot');
    src: url('fonts/salome/salome-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/salome/salome-webfont.woff2') format('woff2'),
         url('fonts/salome/salome-webfont.woff') format('woff'),
         url('fonts/salome/salome-webfont.ttf') format('truetype'),
         url('fonts/salome/salome-webfont.svg#salomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family:'Sometype Mono';
  font-style: normal;
  font-weight: 400;
  src:url('fonts/sometypemono/SometypeMono-Regular.woff2') format('woff2'),
    url('fonts/sometypemono/SometypeMono-Regular.woff') format('woff'),
    url('fonts/sometypemono/SometypeMono-Regular.ttf') format('truetype'),
    url('fonts/sometypemono/SometypeMono-Regular.otf') format('opentype'),
    url('fonts/sometypemono/SometypeMono-Regular.eot') format('embedded-opentype');    
}

@font-face { 
  font-family:'Sometype Mono';
  font-style: italic;
  font-weight: 400;
  src:  url('fonts/sometypemono/SometypeMono-RegularItalic.woff2') format('woff2'),
    url('fonts/sometypemono/SometypeMono-RegularItalic.woff') format('woff'),
    url('fonts/sometypemono/SometypeMono-RegularItalic.ttf') format('truetype'),
    url('fonts/sometypemono/SometypeMono-RegularItalic.otf') format('opentype'),
    url('fonts/sometypemono/SometypeMono-RegularItalic.eot') format('embedded-opentype');  
}

@font-face {
  font-family:'Sometype Mono';
  font-style: normal;
  font-weight: 700;
  src:  url('fonts/sometypemono/SometypeMono-Bold.woff2') format('woff2'),
    url('fonts/sometypemono/SometypeMono-Bold.woff') format('woff'),
    url('fonts/sometypemono/SometypeMono-Bold.ttf') format('truetype'),
    url('fonts/sometypemono/SometypeMono-Bold.otf') format('opentype'),
    url('fonts/sometypemono/SometypeMono-Bold.eot') format('embedded-opentype');   
}

/****************************************************************************/
/*                                  BUTTONS                                 */
/****************************************************************************/

.buttons {
    text-align: center;
}

/************************/
/*        SMALL         */
/************************/

.btn-sm {
    width: 90px;
    height: 35px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-sm:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-sm:focus {
    outline: none;
}

.btn-sm.primary {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 3px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-sm.danger {
    background-image: linear-gradient(to right, #f15e64, #eb3941, #e14e53, #C42F36);
    box-shadow: 0 3px 15px rgba(238, 82, 83,1.0);
}
.btn-sm.warning{
    background-image: linear-gradient(to right, #F6B752, #f1c40f, #F4D450, #f39c12);
    box-shadow: 0 3px 15px 0 rgba(255, 159, 67,1.0)
}
.btn-sm.info {
    background-image: linear-gradient(to right, #81ecec, #00cec9, #74b9ff, #0984e3);
    box-shadow: 0 3px 15px 0 rgba(10, 189, 227,1.0);
}
.btn-sm.success {
    background-image: linear-gradient(to right, #6ab04c, #00C479, #00B894, #55efc4);
    box-shadow: 0 3px 15px 0 rgba(16, 172, 132,1.0);
}

/************************/
/*       MEDIUMS        */
/************************/

.btn {
    width: 90px;
    height: 80px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn:focus {
    outline: none;
}

.btn.primary {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 3px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn.danger {
    background-image: linear-gradient(to right, #f15e64, #eb3941, #e14e53, #C42F36);
    box-shadow: 0 3px 15px rgba(238, 82, 83,1.0);
}
.btn.warning{
    background-image: linear-gradient(to right, #F6B752, #f1c40f, #F4D450, #f39c12);
    box-shadow: 0 3px 15px 0 rgba(255, 159, 67,1.0)
}
.btn.info {
    background-image: linear-gradient(to right, #81ecec, #00cec9, #74b9ff, #0984e3);
    box-shadow: 0 3px 15px 0 rgba(10, 189, 227,1.0);
}
.btn.success {
    background-image: linear-gradient(to right, #6ab04c, #00C479, #00B894, #55efc4);
    box-shadow: 0 3px 15px 0 rgba(16, 172, 132,1.0);
}

/************************/
/*       OUTLINE        */
/************************/

.btn-outline {
    width: 80px;
    height: 75px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border: 2px solid;
    background-color: transparent;
    background-size: 300% 100%;
    border-radius: 50px;
}

.btn-outline:hover {
    background-position: 100% 0;
}

.btn-outline:focus {
    outline: none;
}

.btn-outline.primary {
  border-color: #4481eb;
  color: #4481eb;
}

.btn-outline.primary:hover {
  background-color: #4481eb;
  color: white;
  box-shadow: 0 1px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-outline.danger {
  border-color: #e14e53;
  color: #e14e53;
}

.btn-outline.danger:hover {
  background-color: #e14e53;
  color: white;
  box-shadow: 0 1px 15px 0 rgba(238, 82, 83,1.0);
}

.btn-outline.warning {
  border-color: #f39c12;
  color: #f39c12;
}

.btn-outline.warning:hover {
  background-color: #f39c12;
  color: white;
  box-shadow: 0 1px 15px 0 rgba(255, 159, 67,1.0);
}

.btn-outline.info {
  border-color: #74b9ff;
  color: #74b9ff;
}

.btn-outline.info:hover {
  background-color: #74b9ff;
  color: white;
  box-shadow: 0 1px 15px 0 rgba(10, 189, 227,1.0);
}

.btn-outline.success {
  border-color: #00C479;
  color: #00C479;
}

.btn-outline.success:hover {
  background-color: #00C479;
  color: white;
  box-shadow: 0 1px 15px 0 rgba(16, 172, 132,1.0);
}


/************************/
/*       LARGES         */
/************************/

.btn-lg {
    width: 200px;
    height: 55px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-lg:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-lg:focus {
    outline: none;
}

.btn-lg.primary {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 3px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-lg.danger {
    background-image: linear-gradient(to right, #f15e64, #eb3941, #e14e53, #C42F36);
    box-shadow: 0 3px 15px rgba(238, 82, 83,1.0);
}
.btn-lg.warning{
    background-image: linear-gradient(to right, #F6B752, #f1c40f, #F4D450, #f39c12);
    box-shadow: 0 3px 15px 0 rgba(255, 159, 67,1.0)
}
.btn-lg.info {
    background-image: linear-gradient(to right, #81ecec, #00cec9, #74b9ff, #0984e3);
    box-shadow: 0 3px 15px 0 rgba(10, 189, 227,1.0);
}
.btn-lg.success {
    background-image: linear-gradient(to right, #6ab04c, #00C479, #00B894, #55efc4);
    box-shadow: 0 3px 15px 0 rgba(16, 172, 132,1.0);
}

/****************************************************************************/
/*                                   ICONS                                  */
/****************************************************************************/

.primary {
  fill: #A5B3BB; }

.secondary {
  fill: #0D2B3E; }

.icons {
  text-align: center;
}

/****************************************************************************/
/*                                   FORMS                                  */
/****************************************************************************/

.forms {
  text-align: center;
}

/************************/
/*        INPUT         */
/************************/

input[type=text] {
  width: 45%;
  font-family: "Sometype Mono";
  font-size: 14px;
  box-sizing: border-box;
  border: 2px solid #A7A49F;
  border-radius: 20px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 65%;
  border-color: #ABD8FC;
  outline: none;
}

/************************/
/*        SUBMIT        */
/************************/

input[type=submit] {
    width: 120px;
    height: 35px;
    font-size: 15px;
    font-weight: 300;
    color: rgba(16, 172, 132,1.0);
    cursor: pointer;
    margin: 20px;
    text-align:center;
    border-color: rgba(16, 172, 132,1.0);
    background-size: 300% 100%;
    background-color: white;
    border-radius: 17px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

input[type=submit]:hover {
    background-position: 100% 0;
    color: white;
    background-image: linear-gradient(to right, #6ab04c, #00C479, #00C479, #6ab04c);
    box-shadow: 0 3px 15px 0 rgba(16, 172, 132,1.0);
}

/************************/
/*       SELECT         */
/************************/

select {
  width: 45%;
  font-family: "Sometype Mono";
  font-size: 14px;
  border: 2px solid #A7A49F;
  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

select:focus {
  border-color: #ABD8FC;
  outline: none;
}

/************************/
/*       TEXT AREA      */
/************************/

textarea {
  font-family: "Sometype Mono";
  font-size: 14px;
  width: 45%;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #A7A49F;
  border-radius: 20px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

textarea:focus {
  border-color: #ABD8FC;
  width: 65%;
  height: 150px;
  outline: none;
}

/************************/
/*      RADIO BUTTON    */
/************************/

input[type=radio] {
  font-family: "Sometype Mono";
  font-size: 14px;
}

/************************/
/*      CHECK BOXES     */
/************************/


/****************************************************************************/
/*                                   LISTS                                  */
/****************************************************************************/

list-group {
  font-family: "Sometype Mono";
}

/****************************************************************************/
/*                                CONTAINERS                                */
/****************************************************************************/

body {
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 3em;
  background-color: #EFD6AB;
  color: #7C7B7C; }

section {
  background-color: #F7ECD8;
  margin-bottom: 2em;
  border-radius: 1em; }

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
}

/****************************************************************************/
/*                                  COLORS                                  */
/****************************************************************************/

.box {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: relative;
  margin: 3em;
  display: inline-block;
}

.box .caption .title {
  position: center;
  text-align: center;
  margin-top: 65px;
  color: #F7ECD8;
}

.box .caption .subtitle {
  position: center;
  text-align: center;
  margin: 10px;
  color: #F7ECD8;
}

.box .caption .tutle {
  position: center;
  text-align: center;
  margin-top: 65px;
  color: #EFD6AB;
}

.box .caption .sibtitle {
  position: center;
  text-align: center;
  margin: 10px;
  color: #EFD6AB;
}

.box.bg-primary {
  background-color: #ABD8FC; }
.box.bg-secondary {
  background-color: #EFD6AB; }
.box.bg-tertiary {
  background-color: #F7ECD8; }
.box.bg-grey-dark {
  background-color: #4F4F4F; }
.box.bg-grey-middle {
  background-color: #666566; }
.box.bg-grey-light {
  background-color: #7C7B7C; }

/****************************************************************************/
/*                                  CARDS                                   */
/****************************************************************************/

.card {
  border: 2px solid #ABD8FC;
  border-radius: 1rem;
  word-wrap: break-word;
  margin: 1vw;
  text-align:center;
}

.card-body {
  padding: 10px;
}

.card-img-top {
    width: 95%;
    margin-top: 8px;
    border-radius: 1rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}